# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
Mobile/node_modules/

# Expo
Mobile/.expo/
Mobile/dist/
Mobile/web-build/
Mobile/expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
Mobile/npm-debug.*
Mobile/yarn-debug.*
Mobile/yarn-error.*

# macOS
Mobile/.DS_Store
*.pem

# local env files
Mobile/.env*.local

# typescript
Mobile/*.tsbuildinfo

# generated native folders
Mobile/ios
Mobile/android
